@import "../imports";

.featured-movie {
  height: 45vh;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .content-wrapper {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;

    @include LargeScreen() {
      left: 50%;
      transform: translateX(-50%);
    }

    .content {
      .movie-detail {
        font-family: $f-secondary;
        padding: 0 1rem;

        &:nth-child(1) {
          padding-left: 0;
          padding-right: 1rem;
        }
      }
    }
  }

  @include LargeScreen() {
    height: 55vh;
    width: 100%;
    padding-bottom: 0;

    .content-wrapper {
      .content {
        .movie-detail {
          padding: 0 1.5rem;
        }
      }
    }
  }
}
