@import "./variables";
@import "./responsive";

h1 {
  font-size: 3.3rem;
  @include MediumScreen {
    font-size: 4rem;
  }
  @include LargeScreen {
    font-size: 5rem;
  }
}

p {
  font-family: $f-secondary;
}
