// Fonts
$f-primary: "Unbounded", cursive;
$f-secondary: "Raleway", sans-serif;

// Colors
$c-primary: #171717;
$c-secondary: #444444;
$c-tertiary: #da0037;
$c-quarternary: #ededed;

$c-black: #000;
$c-white: #fff;
